@import "tailwindcss";

@font-face {
  font-family: 'Harmonia Sans';
  src: './assets/fonts/HarmoniaSansW01Bold.ttf';
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Harmonia Sans', sans-serif;
}

@theme {
    --color-credi-blue: #0D2348; 
    --color-credi-orange: #F7931E;
    --color-credi-neutro-white: #FFFFFF;
    --color-credi-neutro-black: #1E1E1E;
    --color-credi-gray-white: #E6E6E6;
    --color-credi-gray-black: #3A3A3A;
}